Testopia/pkgs/Wadl/Uspgetquestionflow.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://india-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Uspgetquestionflow" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Usp get question flow" />
  <grammars>
    <jsonTypes targetNamespace="https://india-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <integer name="ManualTriggerInput_Executestoredprocedure_ux28_V2_ux29__candidateid_def" />
      <object name="ManualTriggerInput">
        <property name="Executestoredprocedure(V2)_candidateid" type="integer" />
      </object>
      <integer name="ResponseActionOutput_items_def_staging_table_id_def" />
      <integer name="ResponseActionOutput_items_def_candidate_id_def" />
      <string name="ResponseActionOutput_items_def_exam_date_def" />
      <string name="ResponseActionOutput_items_def_level_def" />
      <integer name="ResponseActionOutput_items_def_level_id_def" />
      <string name="ResponseActionOutput_items_def_technology_def" />
      <integer name="ResponseActionOutput_items_def_technology_id_def" />
      <integer name="ResponseActionOutput_items_def_question_details_id_def" />
      <integer name="ResponseActionOutput_items_def_technology_id1_def" />
      <integer name="ResponseActionOutput_items_def_Level_of_quetions_id_def" />
      <integer name="ResponseActionOutput_items_def_question_id_def" />
      <integer name="ResponseActionOutput_items_def_options_id_def" />
      <integer name="ResponseActionOutput_items_def_answer_id_def" />
      <integer name="ResponseActionOutput_items_def_unit_def" />
      <integer name="ResponseActionOutput_items_def_questions_id_def" />
      <string name="ResponseActionOutput_items_def_questions_def" />
      <integer name="ResponseActionOutput_items_def_options_id1_def" />
      <string name="ResponseActionOutput_items_def_options_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="staging_table_id" type="integer" />
        <property name="candidate_id" type="integer" />
        <property name="exam_date" type="string" />
        <property name="level" type="string" />
        <property name="level_id" type="integer" />
        <property name="technology" type="string" />
        <property name="technology_id" type="integer" />
        <property name="question_details_id" type="integer" />
        <property name="technology_id1" type="integer" />
        <property name="Level_of_quetions_id" type="integer" />
        <property name="question_id" type="integer" />
        <property name="options_id" type="integer" />
        <property name="answer_id" type="integer" />
        <property name="unit" type="integer" />
        <property name="questions_id" type="integer" />
        <property name="questions" type="string" />
        <property name="options_id1" type="integer" />
        <property name="options" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://india-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Executestoredprocedure(V2)_candidateid" path="/Executestoredprocedure(V2)_candidateid" type="xs:long" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>